<div class="cnr-patient-search-engine">
  <div class="cnr-patient-search-engine_container">
    <label class="cnr-patient-search-engine_label">
      Buscar paciente
    </label>
    <div class="cnr-patient-search-engine_control">
      <p-dropdown [options]="patientOptions"
                  [(ngModel)]="selectedPatient"
                  optionLabel="fullName"
                  [filter]="true"
                  filterby="fullName"
                  (ngModelChange)="PatientUpdateBlur($event)"
                  (onFilter)="searchPatient($event)">
      </p-dropdown>
    </div>
  </div>
</div>
