@import url('primerng.cnr-style.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin:0;
    padding:0;
    color: var(--fourth);
    background-color: var(--five);
    overflow-y: hidden;
}



:root {
    --gainsboro: #dfe0e2;
    --cadet-blue-crayola: #a2aebb;
    --pewter-blue: #75abbc;
    --pacific-blue: #23b5d3;
    --cnr-black: #071013;
    --secondary: #3b6d70;
    --primary: #284b64;
    --tertiary: #a1b1b3;
    --fourth: #071013;
    --five: #d9dad9;
}

* {
    box-sizing: border-box;
}

.handwritting {
    font-family: 'Courgette', cursive;
}

.separator-blue {
    border: none;
    border-top: 1px solid black;
    border-color: var( --secondary);
}

fieldset {
    border:none;
}

legend {
  color: var( --secondary);
}

.fc-toolbar-title {
    color: var( --secondary)
}

.button-list {
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.button-list li {
    margin: 0 0.5rem;
}

.d-flex-inline {
    display: inline-flex;
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}
