<div class="cnr-medical-specialties-search-engine">
  <label class="cnr-medical-specialties-search-engine_label">
    Especialidad
  </label>
  <div class="cnr-medical-specialties-search-engine_control">
    <p-dropdown [options]="medicalSpecialitiesOptions"
                [(ngModel)]="selectedMedicalSpeciality"
                optionLabel="name"
                [filter]="true"
                filterby="name"
                placeholder="Seleccionar una especialidad"
                (onChange)="ChangeMedicalSpeciality($event)"></p-dropdown>
  </div>
</div>
