:host {
  display: block;
}

.cnr-content-panel {
  margin: 0.75rem 0;
  &_tools {
    display: flex;
    justify-content: space-between;
    &_title {
      padding-left: 0.4rem;
      font-size: 0.75rem;
      font-weight: 300;
      text-transform: uppercase;
      color: var( --primary);
      margin:0
    }
    &_name {
      padding-left: 0.4rem;
      margin: 0;
    }
    &_btn-tools {
      margin:0;
      padding:0;
      padding-right: 1.5rem;
      margin-bottom: 0.5rem;
      list-style-type: none;
      display: inline-flex;
    }
    &_button {
      color: var( --primary);
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

  }

  &_content {
    position: relative;
    border: 2px solid var( --primary);
    border-top: none;
  }

  &_header {
    position: absolute;
    top: -10px;
    left: -2px;
    display: grid;
    grid-template-columns: 20px auto 1fr;
    width: calc(100% + 4px);
    &_title {
      padding: 0 0.5rem;
      color: var( --primary);
    }
  }

  &_line::before {
    content: '';
    display: block;
    border-bottom: 2px solid var( --primary);
    height: 50%;
  }

}
