.health-insurance-search-engine {
  display: flex;
  align-items: center;
  width: 100%;
  &_label {
    width: 240px;
    font-weight: 500;
    font-size: 1rem;
    color: var( --primary);
  }

  &_control {
    flex-grow: 1;
    min-width: 150px;
  }
}
