<div class="cnr-see-schedule-panel">
  <form>
    <fieldset>
      <div class="field-control expand-cell-2">
        <p class="cnr-see-schedule-panel_parragraph">Utilice los <strong>filtros</strong> o realice una <strong>buqueda</strong> desde el campo de profesionales. </p>
        <h5 class="cnr-see-schedule-panel_title">Filtros</h5>
      </div>
      <div class="fields-group">
        <div class="field-control">
          <cnr-medical-specialties-search-engine medicalSpecialitySubjectName="panel-dashboard-medical-speciality" (onSelectMedicalSpeciality)="selectMedicalSpeciality($event)"></cnr-medical-specialties-search-engine>
        </div>
        <div class="field-control">
          <cnr-health-insurance-search-engine healthInsuranceSubjectName="see-schedule-health-insurrance" (onSelectedHealthInsurrancePlan)="selectHealthInsurancePlan($event)"></cnr-health-insurance-search-engine>
        </div>
        <div class="field-control expand-cell-2">
          <h5 class="cnr-see-schedule-panel_title">Profesional</h5>
        </div>
        <div class="field-control">
          <cnr-doctor-search-engine searchDoctorSubjectName="panel-dashboard-search-doctor" doctorSubjectName="panel-dashboard-doctor" doctorOptionsSubjectName="panel-dashboard-doctor-collection" [searchDoctors]="searchDoctorParams"></cnr-doctor-search-engine>
        </div>
        <div class="field-control doctor-information" *ngIf="doctor">
          <h4 class="doctor-information_title">Información (Profesional)</h4>
          <div class="doctor-information_list">
            <div>
              <label class="doctor_information_label">
                Nombre: <span class="doctor_information_value">{{doctor?.name}}</span>
              </label>
            </div>
            <div>
              <label class="doctor_information_label">
                Apellido: <span class="doctor_information_value">{{doctor?.lastname}}</span>
              </label>
            </div>
            <div>
              <label class="doctor_information_label">
                Matrícula: <span class="doctor_information_value">{{doctor?.medicalLicense}}</span>
              </label>
            </div>
            <div>
              <label class="doctor_information_label">
                Teléfono: <span class="doctor_information_value">{{doctor?.phoneNumber}}</span>
              </label>
            </div>
            <div>
              <label class="doctor_information_label">
                email: <span class="doctor_information_value">{{doctor?.email}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="buttons">
          <p-button label="Ver Agenda" icon="pi pi-search" iconPos="left" class="mr-1" (onClick)="seeSchedule($event)">
          </p-button>
          <p-button label="Nuevo Turno" icon="pi pi-plus" iconPos="left" (click)="display = true"></p-button>
        </div>
      </div>
    </fieldset>
  </form>
  <p-dialog [(visible)]="display" [modal]="true">
    <ng-template pTemplate="header">
      <div class="modal-header">
        <h3 class="modal-header_title">Nuevo Turno</h3>
      </div>
    </ng-template>
    <div class="modal-body">
      <hr class="modal-body_separator" />
      <cnr-add-appointment></cnr-add-appointment>
    </div>

    <ng-template pTemplate="footer">
      <div class="buttons">
        <button type="button" pButton label="Cancelar" icon="pi pi-times" iconPos="left" class="p-button-outlined mr-1"
          (click)="CloseModal($event)"></button>
        <button form="add-patient" pButton type="submit" label="Guardar" icon="pi pi-save"></button>
      </div>
    </ng-template>
  </p-dialog>
</div>
