<div class="cnr-add-appointment-form">
  <form id="add-patient" [formGroup]="addAppointmenttForm" (ngSubmit)="AddAppointment($event)">
    <div class="cnr-add-appointment-form_container">
      <div>
        <div class="field-control">
          <cnr-doctor-search-engine doctorSubjectName="add-appointment-form-doctor" doctorOptionsSubjectName="add-appointment-form-doctor-collection"></cnr-doctor-search-engine>
      </div>
      <div class="field-control">
          <cnr-patient-search-engine></cnr-patient-search-engine>
      </div>
      <div class="field-control" >
          <p-calendar
          [showTime]="true"
          [showSeconds]="true"
          inputId="time"
          [inline]="true"
          [style]="{width:'100%'}"
          [minDate]="today"
          [defaultDate]="defaultDate"
          [showSeconds]="false"
          [stepMinute]="15"
          [disabledDays]="disabledDays"
          (onSelect)="selectDate($event)"></p-calendar>
      </div>
      </div>

    </div>
  </form>
</div>
