<div class="cnr-add-appointment-form">
  <form id="add-patient" [formGroup]="addAppointmenttForm" (ngSubmit)="AddAppointment($event)">
    <div class="cnr-add-appointment-form_container">
      <div class="field-control">
          <cnr-doctor-search-engine></cnr-doctor-search-engine>
      </div>
      <div class="field-control">
        <label class="field-control_label">Seleccione día y fecha</label>
        <span>29/05/2022 16:45</span>
      </div>
      <div class="field-control">
          <cnr-patient-search-engine></cnr-patient-search-engine>
      </div>
      <div class="field-control">
          <p-calendar  [showTime]="true" [showSeconds]="true" [minDate]="today" inputId="time" [inline]="true"></p-calendar>
      </div>
    </div>
  </form>
</div>
