.cnr-add-appointment-form {
  display: block;
  width: 100%;
}

.field-control {
  padding: 0.75rem 0.25rem;
  &_control {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &_label {
    padding-right: 0.5rem;
    line-height: 2.6;
    font-weight: 500;
    & + * {
      flex-grow: 1;
    }
  }
}

.p-calendar .p-datepicker {
  width: 100% !important;
}
