<div class="dashboard">
  <div class="dashboard_content">
    <main class="main-cotent">
        <cnr-quick-appointments *ngIf="isAdministrative"></cnr-quick-appointments>
        <cnr-doctor-appointment *ngIf="isDoctor"></cnr-doctor-appointment>
        <cnr-administrator-board *ngIf="isAdministrator"></cnr-administrator-board>
        <cnr-billing-health-insurance-companies *ngIf="isContable"></cnr-billing-health-insurance-companies>
        <cnr-internal-comunications *ngIf="isBasic"></cnr-internal-comunications>
    </main>
  </div>
</div>
