
.field-control {
  padding: 0.75rem 0.25rem;
  margin: 0.25rem 0;
  &_control {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &_label {
    padding-right: 0.5rem;
    font-weight: 500;
    text-align: right;
    width: 230px;
    & + * {
      flex-grow: 1;
    }
  }
}

.button-list {
  display: flex;
  justify-content: flex-end;
}

.reset-password-form {
  &__error-list{
    margin:0;
    padding:0;
    list-style-type: none;

    &__item {
      color: var(--red-600);
      font-size: 0.785rem;
      text-align: right;
      margin-top: 0.5rem;
    }
  }
}
