<form [formGroup]="resetPasswordForm">
  <fieldset class="reset-password-form_container">
    <div class="field-control">
      <div class="field-control_control">
        <label class="field-control_label" for="password">Nueva Contraseña</label>
        <input type="password" pPassword formControlName="password" id="password" class="d-flex" />
      </div>
      <ul class="reset-password-form__error-list" *ngIf="passwordHasError">
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('required')">
          El campo es obligatorio.
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('hasCapitalCase')">
          Las contraseña debe contener al menos un caracter en mayúscula.
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('hasNumber')">
          Las contraseña debe contener al menos un caracter numérico.
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('hasSmallCase')">
          Las contraseña debe contener al menos un caracter en minúscula.
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('hasSpecialCharacters')">
          Las contraseña debe contener al menos un caracter especial (!@?).
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="passwordControl!.hasError('minlength')">
          Las contraseña debe contener al menos 8 carácteres.
        </li>
      </ul>
    </div>
    <div class="field-control">
      <div class="field-control_control">
        <label class="field-control_label" for="confirmPassword">Confirmar Contraseña</label>
        <input type="password" pPassword formControlName="confirmPassword" id="confirmPassword" class="d-flex" />
      </div>
      <ul class="reset-password-form__error-list" *ngIf="confirmPasswordHasError">
        <li class="reset-password-form__error-list__item" *ngIf="confirmPasswordControl!.hasError('required')">
          El campo es obligatorio.
        </li>
        <li class="reset-password-form__error-list__item" *ngIf="confirmPasswordControl!.hasError('NoPassswordMatch')">
          Los campos no coinceden.
        </li>
      </ul>
    </div>
    <div class="button-list">
      <button type="submit" pButton label="Enviar" class="p-button ml-1" [disabled]="isInvalidForm" (click)="send()"></button>
    </div>
  </fieldset>

</form>
