<form [formGroup]="recoverPasswordForm">
  <fieldset class="recover-password-form_container">
    <div class="field-control">
      <div class="field-control_control">
        <label class="field-control_label" for="email">Email</label>
        <input type="text" id="email" formControlName="email" pInputText />
      </div>
    </div>
    <div class="button-list">
      <button type="submit" pButton label="Enviar" class="p-button ml-1" [disabled]="recoverPasswordForm.invalid"  (click)="send()"></button>
    </div>
  </fieldset>
  <div class="reset-password-section" *ngIf="token" >
    <p>
      Simula el envio de un correo con un link a una sesión temporal para reestablecer la contraseña.
    </p>
    <div>
      <a [routerLink]="['/acceso/reestablecer-contraseña']" [queryParams]="{email: email, token: token }">Link A</a>
    </div>
  </div>
</form>

