<form [formGroup]="recoverPasswordForm">
  <fieldset class="recover-password-form_container">
    <div class="field-control">
      <div class="field-control_control">
        <label class="field-control_label" for="email">Email</label>
        <input type="text" id="email" formControlName="email" pInputText />
      </div>
    </div>
    <div class="button-list">
      <button type="submit" pButton label="Enviar" class="p-button ml-1" [disabled]="recoverPasswordForm.invalid"  (click)="send()"></button>
    </div>
  </fieldset>
  <div class="reset-password-section" >
      <a [routerLink]="'./acceso/restablecer?token='+tokenRecovery">Link</a>
  </div>
</form>

