<form class="login-form">
    <fieldset class="login-form_container">
        <div>
          <label>
            Usuario
          </label>
          <div>
            <input type="text" />
          </div>
        </div>
        <div>
          <label>
            Password
          </label>
          <div>
            <input type="text" />
          </div>
        </div>
        <button type="submit">Ingresar </button>
        <a href="#" class="login-form_recover-password">Recuperar Contraseña</a>

    </fieldset>
  </form>
