.field-control {
  padding: 0.75rem 0.25rem;
  margin: 0.25rem 0;
  &_control {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &_label {
    padding-right: 0.5rem;
    font-weight: 500;
    text-align: right;
    width: 85px;
    & + * {
      flex-grow: 1;
    }
  }
}

.button-list {
  display: flex;
  justify-content: flex-end;
}

.d-flex {
  display: flex;
}
