.image-file-managment {
    &__control {
      display: none;
    }

    &__text {
      padding-left: 1rem;
    }

    &__crop-zone {
      border: 3px dotted var( --tertiary);
      padding: 1rem;
      margin: 1rem;
    }

    &__top-controls{
      display: flex;
      justify-content: space-between;
    }

    &__btn-crop {
      align-self: flex-end;
    }


}
