.billing-health-insurance-companies {
    padding: 1rem;
    &__content {
        background-color: white;
        padding: 1rem;
    }

    &__toolbar {
        display: flex;
    }

    &__title {
        margin:0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.health-insurance-dropdown {
    margin: 1rem;
    display: inline-flex;
    align-items: center;
    &__label {
        padding-right: 1rem;
    }

    &__control {
       min-width: 200px;
    }
}