:host {
  background-color: var( --primary);
  color: white;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
}

.navbar {

  &__brand {
    width: 180px;
    margin: 0 auto;
  }

  &_list {
    margin:0;
    padding:0 1rem;
    list-style-type: none;
  }

  &_item {
    margin: 0.75rem 0;
  }

  &_link {
    color: white;
    font-size: 1.10rem;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: #40bfc7;
    }
  }

  &_separator {
    border: none;
    border-top: 1px solid white;
    height:0;
  }
}
