<nav class="navbar">
  <div>
    <cnr-brand class="navbar__brand"></cnr-brand>
  </div>
  <hr class="navbar_separator" />
  <ul class="navbar_list">
    <li class="navbar_item">
      <a href="#" class="navbar_link" routerLink="/" routerLinkActive="active">Inicio</a>
    </li>
    <li class="navbar_item">
      <a href="#" class="navbar_link" routerLink="/switch-roles">Switch Role</a>
    </li>  
    <li>
      <a href="#" class="navbar_link" routerLink="/chat">Comunicaciones</a>
    </li>
    <li class="navbar_item" *ngIf="isAdministrator">
      <a href="#" class="navbar_link" routerLink="/analisis-de-datos">Estadísticas</a>
    </li>
    <li class="navbar_item" *ngIf="isAdministrator">
      <a href="#" class="navbar_link" routerLink="/backup-database">Copias de Respaldo</a>
    </li>
    <li class="navbar_item" *ngIf="isAdministrator">
      <a href="#" class="navbar_link" routerLink="/restore-database">Restaurar Base de datos</a>
    </li>
  </ul>
</nav>
