<div class="calendar-filter">
  <form>
      <fieldset>
          <legend>Ver Agenda</legend>
          <div class="fields-group">
            <div class="field-control">
              <cnr-medical-specialties-search-engine></cnr-medical-specialties-search-engine>
            </div>
            <div class="field-control">
              <cnr-doctor-search-engine></cnr-doctor-search-engine>
            </div>
          </div>
          <div>
            <p-button label="Buscar" icon="pi pi-search" iconPos="left"></p-button>
          </div>
      </fieldset>
  </form>
</div>
