.comunications {
    padding: 1rem;
    &__content {
        background-color: white;
        padding: 1rem 0.5rem;
    }

    &__chat {
      display: flex;
    }
  
    &_title {
        margin:0;
        margin-bottom: 1rem;
    }

    &__contact {
      height: calc(100vh - 110px);
      width: 400px;
      &__list {
        margin:0;
        padding: 0;
        list-style-type: none;

        &__discussion {
          height: 80px;
          display: flex;
          border-bottom: 1px solid gray;
          padding: 0 0.5rem;
          position: relative;

          &.isActive {
            background-color: #ebeff9;
            &::before {
              content: '';
              display: block;
              position: absolute;
              right: 0;
              top: 0;
              bottom:0;
              width: 10px;
              background-color: #4f6ebd;
            }
          }
          
          &:hover {
            background-color:  #22b5d34d;
          }

          &__photo {
            background-color: #4f6ebd;
            width: 60px;
            height: 60px;
            position: relative;
            border-radius: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            position: relative;
          }
        }
      }

    }

    &__messages {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__dialog {
        flex: 1 1 auto;

        &__message {
          text-align: right;
          margin: 1.5rem 0;

          span {
            font-size: 0.785rem;
            color: gray;
            font-weight: 300;
            display: block;
            padding-right: 0.5rem;
          }

          p {
            background-color: #daf2f7;
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
            display: inline-block;
            margin: 0.5rem 0;

            &.isMine{
              background-color: white;
            }
          }

          time {
            display: block;
            font-size: 0.75rem;
            padding-right: 0.5rem;
          }
        }
      }

      &__field {
        display: flex;
        border-radius: 0.25rem;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
        padding: 0.75rem;
      }

      &__header {
        height: 80px;
        background-color:  var(--primary);
        color: white;
        display: flex;
        padding: 0.5rem;

        p.name {
          color: white;
          font-size: 1.1rem;
        }

        p.last-message {
          color: white;
        }
      }
    }

   

  }

  .name {
    font-size: 0.785rem;
    font-weight: 700;
    color: var(--primary);
    margin:0;
  }

  .last-message {
    font-size: 0.785rem;
    font-weight: 300;
    margin: 0;
  }

  .write-message {
    flex: 1 1 auto;
    border:none;
  }

  .write-message:focus {
    outline: none;
  }

  .signal {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    background-color: #c34a4a;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
    position: absolute;
  }

  .is-online .signal {
    background-color: #8BC34A;
  }

  .avatar {
    width: 45px;
  }

  .d-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  
 